/* ------Font Uploaded--------- */
/*--------- HEEBO + INTER------ */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/*--------- HEEBO + INTER------ */
/* ------------RESET CSS---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------RESET CSS---------- */
/*-----------------End Common CSS---------- */
:root {
  --primary: #00b98e;
  --secondary: #0e2e50;
  --light: #effdf5;
  --primary-font: "Inter", serif;
  --second-font: "Heebo", serif;
}
/* -----layout css----- */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* -----layout css----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}
p,
a,
span,
li,
input,
button {
  font-family: var(--second-font);
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #effdf5;
  background-color: #00b98e;
  border: 0px solid;
  border-radius: 5px;
  transition: all 0.5s ease;
  line-height: 1.5rem;
}
.btn a {
  color: #effdf5;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.5rem;
}
.btn:hover {
  background-color: #36d1ad !important;
}
button {
  border: 0px solid;
  background-color: unset;
}
.coloring {
  color: var(--primary);
}
/*-----------------End Common CSS---------- */
/*----------------- Started Header Section------------- */
/*----------------- Started Meun Section------------- */

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  margin: 45px auto;
  padding: 1rem 1.5rem;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  line-height: 1rem;
  font-size: 40px;
}
.logo a {
  color: var(--primary);
  font-family: var(--primary-font);
  text-decoration: none;
}
.logo img {
  max-width: 100%;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 1px dashed var(--primary);
  border-radius: 50%;
  padding: 0.5rem;
}

.menu-btn-section {
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
.menu-btn-section a {
  text-decoration: none;
  color: var(--secondary);
  margin-right: 30px;
  font-weight: 500;
}
.menu-btn-section:active {
  color: var(--light);
}
.menu-btn-section a:hover {
  color: var(--primary) !important;
}

.menu-btn {
  display: none;
}
.nav-btn {
  padding: 0.5rem 0.9rem;
  line-height: 1.5rem;
  color: var(--light) !important;
}
.nav-btn:hover a {
  color: var(--light);
}
.nav-btn a {
  padding: 1rem 1rem;
  line-height: 1.5rem;
  text-transform: unset;
}
/*----------------- Ended Meun Section------------- */
/* --------------------HERO SECTION----------------- */
.hero-section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-1st-coloum {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}
.hero-2nd-coloum {
  width: 50%;
}
.swiper-slide {
  width: 100%;
  max-width: 631px;
  height: 631px;
  object-fit: cover;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-one {
  background-image: url(assets/images/carousel-1.jpg);
}
.slider-two {
  background-image: url(assets/images/carousel-2.jpg);
}
.hero-slider-btn {
  color: white;
  background-color: var(--primary);
  padding: 1.5rem;
  border-radius: 50px;
}
.hero-slider-btn::after {
  font-size: 18px;
}
.hero-1st-coloum h1 {
  max-width: 500px;
  font-size: 3rem;
  color: var(--secondary);
  font-family: var(--second-font);
  line-height: 3.3rem;
}
.hero-1st-coloum p {
  font-family: var(--second-font);
  font-size: 1rem;
  color: #666565;
}
/* --------------------HERO SECTION----------------- */
/* ----------------Mini-Form-Section------------- */
.mini-form-section-inner {
  background-color: var(--primary);
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2rem 2rem;
}
form > .btn {
  background-color: var(--secondary);
}
form > .btn:hover {
  background-color: var(--secondary) !important;
}

#keywords {
  padding: 1rem 5rem;
  border-radius: 5px;
  border: 0px solid;
  max-width: 308px;
}
#keywords::placeholder {
  text-align: left;
  font-size: 1rem;
  color: #666565;
}
#property-type {
  padding: 1rem 6.2rem;
  border-radius: 5px;
  border: 0px solid;
  max-width: 308px;
}
#property-type > option {
  text-align: left;
  font-size: 1rem;
  color: #666565 !important;
}
#location {
  padding: 1rem 6.6rem;
  border-radius: 5px;
  border: 0px solid;
  max-width: 308px;
}
#location::placeholder {
  text-align: left;
  font-size: 1rem;
  color: #666565;
}

/* ----------------Mini-Form-Section------------- */
/* -----------Start-Property-Types-Section--------- */
.property-types-inner {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.property-types-1st-row h2 {
  font-family: var(--second-font);
  color: var(--secondary);
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}
.property-types-1st-row p {
  font-family: var(--second-font);
  color: #666565;
  font-size: 1rem;
  text-align: center;
  max-width: 600px;
}
.property-types-2nd-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.icon-box-wrapper {
  background-color: #effdf5;
  padding: 16px;
  border-radius: 5px;
}
.icon-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px dashed rgba(0, 185, 142, 0.3);
  padding: 20px 60px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.icon-box:hover {
  background-color: var(--primary);
}
.icon-box:hover img {
  background-color: white;
}
.icon-box:hover h6 {
  color: white !important;
}
.icon-box:hover p {
  color: white !important;
}
.icon-box img {
  width: 100%;
  height: auto;
  padding: 15px;
  object-fit: cover;
  border: 1px dashed var(--primary);
  border-radius: 50px;
}
.icon-box h6 {
  font-family: var(--second-font);
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 700;
}
.icon-box {
  font-family: var(--second-font);
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary);
}
/* -----------End-Property-Types-Section--------- */

/*----------------- Ended Header Section------------- */
/*---------STARTED RESPONSIVE CSS----------- */
@media screen and (max-width: 768px) {
  .main-menu {
    background-color: white;
    padding: 15px 25px;
    margin: 0;
  }
  .logo {
    font-size: 30px;
  }
  .menu-btn {
    display: block;
  }
  .menu-btn-section {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 79%;
    height: 60vh;
    position: fixed;
    background-color: white;
    top: 14px;
    right: 0;
    z-index: 999;
    gap: 5px;
    transition: all 0.5s ease !important;
    font-size: 1.2rem;
  }

  .menu-btn-section a {
    margin-top: 15px;
    padding: 0 20px;
  }
  .menu-btn i {
    color: rgba(0, 0, 0, 0.55);
    font-size: 2rem;
    /* margin: 15px 30px; */
    padding: 0.5rem 1rem;
    border: 1px solid var(--secondary);
    border-radius: 5px;
  }

  .fa-xmark i:hover::after {
    width: 0%;
  }
  .nav-btn {
    display: none;
  }
  .hero-section-inner {
    flex-direction: column;
    position: unset;
  }
  .hero-1st-coloum {
    width: 100%;
    order: 2;
  }
  .hero-2nd-coloum {
    width: 100%;
  }
  .swiper-slide {
    height: 412px;
  }
  form {
    flex-direction: column;
  }
  .mini-form-section-inner {
    padding: 35px;
  }
}
