/* ------Font Uploaded--------- */
/*--------- HEEBO + INTER------ */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/*--------- HEEBO + INTER------ */
/* ------------RESET CSS---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------RESET CSS---------- */
/*-----------------End Common CSS---------- */
:root {
  --primary: #00b98e;
  --secondary: #0e2e50;
  --light: #effdf5;
  --primary-font: "Inter", serif;
  --second-font: "Heebo", serif;
}
/* -----layout css----- */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* -----layout css----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}
p,
a,
span,
li,
input,
button {
  font-family: var(--second-font);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  font-size: 1rem;
  color: #effdf5;
  background-color: #00b98e;
  border: 0px solid;
  border-radius: 5px;
  transition: all 0.5s ease;
  line-height: 1.5rem;
}
.btn a {
  color: #effdf5;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.5rem;
}
.btn:hover {
  background-color: #36d1ad !important;
}
button {
  border: 0px solid;
  background-color: unset;
}
.coloring {
  color: var(--primary);
}
/*-----------------End Common CSS---------- */
/*----------------- Started Header Section------------- */
/*----------------- Started Meun Section------------- */

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  margin: 45px auto;
  padding: 1rem 1.5rem;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
}
.main-menu.sticky {
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  line-height: 1rem;
  font-size: 40px;
}
.logo a {
  color: var(--primary);
  font-family: var(--primary-font);
  text-decoration: none;
}
.logo img {
  max-width: 100%;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 1px dashed var(--primary);
  border-radius: 50%;
  padding: 0.5rem;
}

.menu-btn-section {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
.menu-btn-section a {
  text-decoration: none;
  color: var(--secondary);
  margin-right: 30px;
  font-weight: 500;
}
.menu-btn-section:active {
  color: var(--light);
}
.menu-btn-section a:hover {
  color: var(--primary) !important;
}

.menu-btn {
  display: none;
}
.nav-btn {
  padding: 0.5rem 0.9rem;
  line-height: 1.5rem;
  color: var(--light) !important;
}
.nav-btn:hover a {
  color: var(--light);
}
.nav-btn a {
  padding: 1rem 1rem;
  line-height: 1.5rem;
  text-transform: unset;
}
/*----------------- Ended Meun Section------------- */
/* --------------------HERO SECTION----------------- */
.hero-section-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-1st-coloum {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}
.hero-2nd-coloum {
  width: 50%;
}
.swiper-slide {
  width: 100%;
  max-width: 631px;
  height: 631px;
  object-fit: cover;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-one {
  background-image: url(assets/images/carousel-1.jpg);
}
.slider-two {
  background-image: url(assets/images/carousel-2.jpg);
}
.hero-slider-btn {
  color: white;
  background-color: var(--primary);
  padding: 1.5rem;
  border-radius: 50px;
}
.hero-slider-btn::after {
  font-size: 18px;
}
.hero-1st-coloum h1 {
  max-width: 500px;
  font-size: 3rem;
  color: var(--secondary);
  font-family: var(--second-font);
  line-height: 3.3rem;
}
.hero-1st-coloum p {
  font-family: var(--second-font);
  font-size: 1rem;
  color: #666565;
}
/* --------------------HERO SECTION----------------- */
/*----------------- Ended Header Section------------- */

/* ----------------Mini-Form-Section------------- */
.mini-form-section-inner {
  background-color: var(--primary);
}
form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2rem 2rem;
}
.form-btn {
  background-color: var(--secondary);
  height: 50px;
}
.form-btn:hover {
  background-color: var(--secondary) !important;
}

.box {
  width: 308px;
  height: 50px;
  border-radius: 5px;
  border: 0px solid;
  padding: 0px 10px;
  position: relative;
  cursor: pointer;
  appearance: none;
}
.box::placeholder {
  text-align: left;
  font-size: 1rem !important;
  color: #666565;
}
.box:hover {
  background-color: whitesmoke;
}
.box:focus {
  outline: none;
}
.form-group {
  position: relative;
}
.form-group i {
  position: absolute;
  top: 18px;
  right: 10px;
  z-index: 11111111111;
  color: #666565;
  font-size: 12px;
}
/* ----------------Mini-Form-Section------------- */
/* -----------Start-Property-Types-Section--------- */
.property-types-inner {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.property-types-1st-row h2 {
  font-family: var(--second-font);
  color: var(--secondary);
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}
.property-types-1st-row p {
  font-family: var(--second-font);
  color: #666565;
  font-size: 1rem;
  text-align: center;
  max-width: 600px;
}
.property-types-2nd-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.icon-box-wrapper {
  background-color: #effdf5;
  padding: 16px;
  border-radius: 5px;
}
.icon-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px dashed var(--primary);
  padding: 20px 60px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.icon-box:hover {
  background-color: var(--primary);
}
.icon-box:hover img {
  background-color: white;
}
.icon-box:hover h6 {
  color: white !important;
}
.icon-box:hover p {
  color: white !important;
}
.icon-box img {
  width: 100%;
  height: auto;
  padding: 15px;
  object-fit: cover;
  object-position: center;
  border: 1px dashed var(--primary);
  border-radius: 50px;
}
.icon-box h6 {
  font-family: var(--second-font);
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 700;
}
.icon-box {
  font-family: var(--second-font);
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary);
}
/* -----------End-Property-Types-Section--------- */
/* ------Place-to-Find Section----------- */
.place-to-find-inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 60px 20px;
}

.hero-1st-coloum p {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #666565;
}
.fa-check {
  font-size: 20px;
  color: var(--primary);
  font-weight: 700;
}
.place-to-find-2nd-coloum {
  width: 50%;
  order: 1 !important;
  text-align: right;
  position: relative;
  overflow: hidden;
}
.place-to-find-2nd-coloum img {
  width: 100%;
  max-width: 486px;
  object-fit: cover;
  padding: 30px 0;
  /* margin-top: 40px; */
}
.place-to-find-2nd-coloum::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -50%;
  z-index: -1;
  transform: skew(20deg);
  background-color: #00b98e;
}

/* ------End Place-to-Find Section----------- */
/*-----------Property-listing-Section----------- */
.property-listing-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 60px 20px;
  gap: 30px;
}
.property-list-1st-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.property-1st-row-1st-coloum {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px;
}
.property-1st-row-1st-coloum h2 {
  font-family: var(--second-font);
  font-size: 2.5rem;
  color: var(--secondary);
}
.property-1st-row-1st-coloum p {
  font-family: var(--second-font);
  font-size: 1rem;
  color: #666565;
}
.property-1st-row-2nd-coloum {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}
.property-1st-row-2nd-coloum a {
  text-decoration: none;
  color: white;
  background-color: var(--primary);
  padding: 5px 12px;
  border-radius: 5px;
}
.property-list-2nd-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.property-card {
  display: flex;
  flex-direction: column;
  width: 32%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.card-image {
  overflow: hidden;
  position: relative;
}
.card-image img {
  width: 100%;
  max-width: 355px;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
.property-card:hover img {
  transform: scale(1.2);
}
.card-description {
  padding: 20px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.amount {
  font-size: 2rem;
  color: var(--primary);
  font-family: var(--primary-font);
  font-weight: 700;
}
.property-name {
  font-size: 2rem;
  color: var(--secondary);
  font-family: var(--primary-font);
  font-weight: 700;
}
.property-name:hover {
  color: var(--primary);
}
.property-adresses {
  display: flex;
  gap: 8px;
  color: #666565;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--second-font);
}
.fa-location-dot {
  color: var(--primary);
  font-size: 1rem;
}
.fa-ruler-combined {
  color: var(--primary);
  font-size: 1rem;
}
.fa-bed {
  color: var(--primary);
  font-size: 1rem;
}
.fa-bath {
  color: var(--primary);
  font-size: 1rem;
}

.property-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed var(--primary);
}
.property-details p {
  display: flex;
  gap: 8px;
  color: #666565;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: var(--second-font);
  padding: 8px 18px;
}
.property-details p:first-child {
  border-right: 1px dashed var(--primary) !important;
}
.property-details p:nth-child(2) {
  border-right: 1px dashed var(--primary) !important;
}
.position-top {
  color: white;
  background-color: var(--primary);
  font-family: var(--second-font);
  font-family: 1rem;
  padding: 4px 15px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px;
}
.position-bottom {
  color: var(--primary);
  background-color: white;
  font-family: var(--second-font);
  font-family: 1rem;
  padding: 2px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px 5px 0px 0px;
}
.property-listing-button {
  padding: 20px 35px;
  width: fit-content;
  letter-spacing: 2px;
  text-align: center;
}

/*-----------End-Property-listing-Section----------- */
/*-------------------- Start Contact Section------------------ */
.contact-section-wrapper {
  padding: 0 20px;
}

.contact-section-inner-main {
  background-color: #effdf5;
  padding: 15px;
  border-radius: 10px;
}
.contact-section-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px dashed var(--primary);
}
.contact-section-1st-coloum {
  width: 50%;
}
.contact-section-1st-coloum img {
  width: 100%;
  max-width: 496px;
  border-radius: 5px;
}
.contact-section-2nd-coloum {
  width: 50%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-section-2nd-coloum h2 {
  font-size: 2.5rem;
  font-family: var(--primary-font);
  color: var(--secondary);
}
.contact-section-2nd-coloum p {
  font-size: 1rem;
  color: #666565;
}
.buttons {
  display: flex;
  gap: 15px;
}
.call-to-action-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}
.call-to-action-btn2 {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}
.call-to-action-btn2:hover {
  background-color: var(--secondary) !important;
}
/*--------------------End Contact Section------------------ */
/* ---------------------Started Property-Agents-Section----------------- */

.property-agents-section-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  gap: 35px;
}
.property-section-1st-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.property-section-1st-row h2 {
  font-size: 2.5rem;
  font-family: var(--primary-font);
  color: var(--secondary);
  text-align: center;
}
.property-section-1st-row p {
  font-size: 1rem;
  color: #666565;
  text-align: center;
  max-width: 650px;
}
.property-section-2nd-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.image-box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 4.8px 12px 11.9px 2.8px rgba(0, 0, 0, 0.08);
  padding: 10px 0;
}
.image-box-image img {
  width: 100%;
  max-width: 261px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 5px 0px 0px;
}
.img-icons {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}
.img-icons i {
  color: var(--primary);
  padding: 14px;
  font-size: 18px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 0.5px rgba(0, 0, 0, 0.08);
  width: 45px;
  height: 45px;
  font-weight: 700;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}
.img-icons i:hover {
  background-color: var(--primary);
  color: white;
}
.image-box-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  padding-bottom: 20px;
}
.image-box-description h6 {
  font-size: 1.35rem;
  font-weight: 700;
  margin-top: 20px;
  color: var(--secondary);
}
.image-box-description p {
  font-size: 1rem;
  color: #666565;
  text-align: center;
}
/* ---------------------Ended Property-Agents-Section----------------- */
/* -----------------Start-Our-Clients-Says-Section------------------- */
.our-clients-says-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 60px 20px;
}
/* --------SLIDER--------- */
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0 auto;
}

.slide {
  flex: 0 0 50%; /* Two slides per view */
  box-sizing: border-box;
  padding: 20px;
}
.testimonial-wrapper {
  background-color: #effdf5;
  padding: 14px;
  border-radius: 8px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px dashed var(--primary);
}

.testimonial img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  /* margin-bottom: 10px; */
}

.testimonial h4 {
  font-size: 1rem;
  color: var(--secondary);
  font-weight: 700;
}

.testimonial p {
  color: #666565;
  font-size: 0.875rem;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-controls button {
  background-color: var(--primary);
  color: #fff;
  border: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}
.clients-description {
  display: flex;
  justify-content: left;
  gap: 15px;
}
.clients-msg p {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.clients-designation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

/* .slider-controls button:hover {
  background-color: rgba(0, 0, 0, 0.7);
} */
/* -----------------End-Our-Clients-Says-Section------------------- */
/*-------------------- Footer Section-------------- */
.footer-section-wrapper {
  background-color: var(--secondary);
}
.footer-section-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 80px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-section-1st-row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: flex-start;
}
.footer-1st-row-coloum {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-1st-row-coloum i {
  color: rgba(255, 255, 255, 0.5) !important;
}
.footer-1st-row-coloum h6 {
  font-size: 1.25rem;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-1st-row-coloum p {
  display: flex;
  align-items: center;
  gap: 15px;
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 1rem;
  padding-bottom: 10px;
}
.second-coloum p:hover {
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}
.footer-1st-row-coloum a {
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 15px;
}
.image-icons i {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #effdf5;
  width: 35px;
  height: 35px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.image-icons i:hover {
  background-color: white;
  color: var(--primary) !important;
}

.footer-image-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 10px;
}
.footer-image-box img {
  width: 100%;
  max-width: 75px;
  object-fit: cover;
  object-position: center;
  border: 4px solid #effdf5;
  border-radius: 5px;
}
.footer-1st-row-coloum form {
  padding: 0;
}
.footer-form {
  display: flex;
  background-color: var(--secondary) !important;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.footer-keywords {
  background-color: var(--secondary) !important;
  padding: 0 5px;
  border: 0px solid;
}
.footer-keywords::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}
.footer-form::click {
  background-color: 1px solid #effdf5;
}
.footer-form-btn {
  padding: 0.6rem 1rem;
}
.footer-section-2nd-row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
}
.footer-section-2nd-row p {
  color: rgba(255, 255, 255, 0.5);
}
.menu-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
}
.menu-footer a {
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 20px;
  padding-left: 20px;
}
.menu-footer a:last-child {
  border: 0px solid;
  padding-right: 0;
}
/*---------STARTED RESPONSIVE CSS----------- */
@media screen and (max-width: 768px) {
  .main-menu {
    background-color: white;
    padding: 15px 25px;
    margin: 0;
  }
  .logo {
    font-size: 30px;
  }
  .menu-btn {
    display: block;
  }
  .menu-btn-section {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 79%;
    height: 60vh;
    position: fixed;
    background-color: white;
    top: 14px;
    right: 0;
    z-index: 999;
    gap: 5px;
    transition: all 0.5s ease !important;
    font-size: 1.2rem;
  }

  .menu-btn-section a {
    margin-top: 15px;
    padding: 0 20px;
  }
  .menu-btn i {
    color: rgba(0, 0, 0, 0.55);
    font-size: 2rem;
    /* margin: 15px 30px; */
    padding: 0.5rem 1rem;
    border: 1px solid var(--secondary);
    border-radius: 5px;
  }

  .fa-xmark i:hover::after {
    width: 0%;
  }
  .nav-btn {
    display: none;
  }
  .hero-section-inner {
    flex-direction: column;
    position: unset;
  }
  .hero-1st-coloum {
    width: 100%;
    order: 2;
  }
  .hero-2nd-coloum {
    width: 100%;
  }
  .hero-1st-coloum h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .swiper-slide {
    height: 412px;
  }
  form {
    flex-direction: column;
    padding: 0;
  }
  .form-btn {
    width: 308px;
  }
  .mini-form-section-inner {
    padding: 35px;
  }
  .icon-box {
    font-size: 1.5rem;
  }
  .place-to-find-inner {
    flex-direction: column;
    gap: 20px;
  }
  .place-to-find-2nd-coloum {
    width: 100%;
  }
  .place-to-find-inner .hero-1st-coloum {
    width: 100%;
    padding: 1rem 0;
  }
  .place-to-find-inner > .hero-1st-coloum h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .property-listing-inner {
    padding: 40px 20px;
  }
  .property-list-1st-row {
    flex-direction: column;
    gap: 30px;
  }
  .property-1st-row-1st-coloum {
    width: 100%;
  }
  .property-1st-row-2nd-coloum {
    width: 100%;
    justify-content: left;
  }
  .property-list-2nd-row {
    flex-direction: column;
  }
  .property-card {
    width: 100%;
  }
  .contact-section-inner {
    flex-direction: column;
    gap: 20px;
  }
  .contact-section-1st-coloum {
    width: 100%;
  }
  .contact-section-2nd-coloum {
    width: 100%;
    padding: 0;
  }
  .contact-section-2nd-coloum h2 {
    font-size: 1.8rem;
  }
  .buttons {
    flex-direction: column;
  }
  .image-box-image img {
    max-width: 375px;
  }
  .property-section-1st-row h2 {
    font-size: 1.8rem;
  }
  .slide {
    flex: 0 0 100%;
    width: 85px;
  }
  .testimonial {
    padding: 20px;
  }
  .footer-section-inner {
    flex-direction: column;
  }
  .footer-section-1st-row {
    flex-direction: column;
    gap: 25px;
  }
  .footer-1st-row-coloum {
    width: 100%;
  }
  .footer-section-2nd-row {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
}
